.header {
  background-color: #1c2b35;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}
.header a {
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
  margin-left: 36px;
  transition: color 0.5s ease-in-out;
}
.header a:hover {
  color: orange;
}
